section.plans
  .plans__container.container
    .plans__content 
      span.plans__title Our Plans
      span.plans__subtitle  Choose the right SEO for you
      .plans__cards.swiper-container
        .swiper-wrapper
          .plans__card.swiper-slide
            span.plans__card-name.plans__card-name--top Beginer
            span.plans__card-price 55
            ul.plans__card-list 
              li.plans__card-item 50GB Bandwidth
              li.plans__card-item Business & Financ Analysing
              li.plans__card-item 24 Hour Support 
              li.plans__card-item Customer Managemet  
            button.plans__card-button.plans__card-button--top(type="button") Get Started
          .plans__card.swiper-slide
            span.plans__card-name Advanced
            span.plans__card-price 129
            ul.plans__card-list 
              li.plans__card-item 50GB Bandwidth
              li.plans__card-item Business & Financ Analysing
              li.plans__card-item 24 Hour Support 
              li.plans__card-item Customer Managemet   
            button.plans__card-button(type="button") Get Started
          .plans__card.swiper-slide
            span.plans__card-name Advanced
            span.plans__card-price 129
            ul.plans__card-list 
              li.plans__card-item 50GB Bandwidth
              li.plans__card-item Business & Financ Analysing
              li.plans__card-item 24 Hour Support 
              li.plans__card-item Customer Managemet   
            button.plans__card-button(type="button") Get Started
          .plans__card.swiper-slide
            span.plans__card-name Advanced
            span.plans__card-price 129
            ul.plans__card-list 
              li.plans__card-item 50GB Bandwidth
              li.plans__card-item Business & Financ Analysing
              li.plans__card-item 24 Hour Support 
              li.plans__card-item Customer Managemet   
            button.plans__card-button(type="button") Get Started
        .swiper-pagination
        