extends /layout/app

block content
  include /pages/home/intro/index
  include /pages/home/advice/index
  include /pages/home/feedback/index
  include /pages/home/plans/index
  include /pages/home/team/index
  include /pages/home/clients/index


