section.team
  .team__container.container
    span.team__title Our Expert Team Members
    span.team__text This new-found knowledge may then be used by engineers to create new tools and machines.
    .team__cards.swiper-container
      .swiper-wrapper
        .team__card.swiper-slide 
          img.team__card-img(src=require("images/team-1.jpg"), alt="Team card")
          span.team__card-name Nattasha
          span.team__card-specialty Web Develper
          ul.team__card-list
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--facebook  
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--twitter 
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--linkedin
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--google
        .team__card.swiper-slide 
          img.team__card-img(src=require("images/team-2.jpg"), alt="Team card")
          span.team__card-name John Doe
          span.team__card-specialty Web Designer
          ul.team__card-list
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--facebook  
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--twitter 
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--linkedin
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--google
        .team__card.swiper-slide 
          img.team__card-img(src=require("images/team-3.jpg"), alt="Team card")
          span.team__card-name Haris Milas
          span.team__card-specialty Ceo & Co-Funder
          ul.team__card-list
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--facebook  
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--twitter 
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--linkedin
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--google
        .team__card.swiper-slide
          img.team__card-img(src=require("images/team-4.jpg"), alt="Team card")
          span.team__card-name Nelson Mecoy
          span.team__card-specialty Marketing Manager
          ul.team__card-list
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--facebook  
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--twitter 
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--linkedin
            li.team__card-item
              a.team__card-link(href="#")
                span.team__card-img.team__card-img--google
      .swiper-pagination