section.advice
  .advice__container.container 
    .advice__cards 
      .advice__card 
        img.advice__card-img(src=require("images/advice-card-1.svg"), alt="advice card 1")
        span.advice__card-title Grow Your Business
        p.advice__card-text Leverage agile frameworks to provide a robust synopsis for high level overviews.
      .advice__card 
        img.advice__card-img(src=require("images/advice-card-2.svg"), alt="advice card 2")
        span.advice__card-title Get Quality Ieads
        p.advice__card-text Leverage agile frameworks to provide a robust synopsis for high level overviews.
      .advice__card 
        img.advice__card-img(src=require("images/advice-card-3.svg"), alt="advice card 3")
        span.advice__card-title Drive More Sales
        p.advice__card-text Leverage agile frameworks to provide a robust synopsis for high level overviews.