section.feedback
  .feedback__container.container
    .feedback__content 
      span.feedback__title Check Your Website Speed 
      p.feedback__text Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business through revolutionary.
      form.feedback__form(action="#")
        .feedback__form-container
          input.feedback__form-name(type="text" placeholder="Name")
          input.feedback__form-email(type="email" placeholder="Email Address")
          textarea.feedback__form-text(name="additionalText" cols="30" rows="10" placeholder="Text here...")
        button.feedback__form-submit(type="submit") Submit
      img.feedback__img(src=require("images/feedback.png"), alt="feedback")