section.intro 
  .intro__container.container 
    .intro__content 
      h1.intro__content-title SEO & Digital Marketing For Your Website.
      span.intro__content-subtitle Provide all kind of seo services and help to improve seo&nbsp;ranking.&nbsp;Globally incubate standards.
      button.intro__content-button(type="button")  Start Now
      img.intro__img(src=require("images/intro.png"), alt="intro")