footer.footer 
  .container 
    .footer__container
      .footer__info 
        a.footer__logo(href="/") 
          img.footer__logo-img(src=require("images/logo.svg"), alt="logo")
        p.footer__info-text Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate business through revolutionary.
        ul.footer__card-list
          li.footer__card-item
            a.footer__card-link(href="#")
              span.footer__card-img.footer__card-img--facebook  
          li.footer__card-item
            a.footer__card-link(href="#")
              span.footer__card-img.footer__card-img--twitter 
          li.footer__card-item
            a.footer__card-link(href="#")
              span.footer__card-img.footer__card-img--linkedin
          li.footer__card-item
            a.footer__card-link(href="#")
              span.footer__card-img.footer__card-img--google
      .footer__columns 
        .footer__column 
          span.footer__column-title Our Company
          ul.footer__column-list 
            li.footer__column-item
              a.footer__column-link(href="#") About Us
            li.footer__column-item
              a.footer__column-link(href="#") Our Services
            li.footer__column-item
              a.footer__column-link(href="#") Our Plan
            li.footer__column-item
              a.footer__column-link(href="#") Our Team
            li.footer__column-item
              a.footer__column-link(href="#") Latest News
        .footer__column 
          span.footer__column-title Our Services
          ul.footer__column-list 
            li.footer__column-item
              a.footer__column-link(href="#") Digital Marketing
            li.footer__column-item
              a.footer__column-link(href="#") SEO Optimazation
            li.footer__column-item
              a.footer__column-link(href="#") Web Development
            li.footer__column-item
              a.footer__column-link(href="#") Link Building
            li.footer__column-item
              a.footer__column-link(href="#") Terms & Privacy
        .footer__column
          span.footer__column-title Contact Us
          .footer__column__container 
            span.footer__column-subtitle Location:
            span.footer__column-text 1370 Orvilly Rot APT, New York, USA
          .footer__column__container
            span.footer__column-subtitle Email:  
            a.footer__column-text(href="#") growbeinfo@gmail
          .footer__column__container
            span.footer__column-subtitle Phone: 
            a.footer__column-text(href="#") +324-9332-5018
    .footer__copyright 
      .footer__copyright-line
      p.footer__copyright-text Copyright © GrowBe 2021. All Rights Reserved.
